@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* ===== Colors ===== */
  --color-main: #003465;
  --color-secondary: #B7AA8C;
  --color-white: #FFFFFF;

  /* ===== Backgrounds ===== */
  --bg-main: #FCFCF7;
  --bg-secondary: #F1EFE5;

  /* ===== Texts ===== */
  --text--main: #919191;
  --text-secondary: #B7AA8C;
  --text-menu: #A7A7A7;

  /* ===== Typefaces ===== */
  --font-main: "Albert Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-main);
  width: 100vw;
  height: 100vh;
}

.mid-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 57%;
  background: #FDFDF8;
  background: linear-gradient(69deg, rgba(253, 253, 248, 1) 32%, rgba(230, 228, 224, 1) 50%, rgba(228, 228, 223, 1) 72%);
  z-index: 0;
}

.page-content {
  width: 1440px;
  max-width: 1440px;
  margin: 0 100px;
  padding-top: 30px;
  position: relative;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 50px;
}

.navbar-logo {
  display: flex;
}

.navbar-links {
  display: flex;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  margin-right: 160px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
}

.navbar-link {
  color: var(--text-menu);
  text-decoration: none;
}

.hero-home {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 70px;
}

.hero-text {
  width: 50%;
  padding-top: 35px;
}

.hero-image {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-image .hero-a11,
.hero-image .hero-a12,
.hero-image .hero-a21,
.hero-image .hero-a41,
.hero-image .hero-a51 {
  position: absolute;
}

.hero-image .hero-a12 {
  width: 260px;
  bottom: 0;
  right: 0;
  transform: translate(-20px, 90px);
}

.hero-image .hero-a41 {
  width: 242px;
  bottom: 0;
  left: 0;
  transform: translate(-135px, 75px);
}

.hero-image .hero-a51 {
  width: 207px;
  bottom: 0;
  left: 0;
  transform: translate(115px, 25px);
}

.hero-image .hero-a21 {
  width: 100px;
  top: 0;
  right: 0;
  transform: translate(-55px, -170px);
}

.hero-image .hero-a11 {
  width: 140px;
  bottom: 0;
  right: 0;
  transform: translate(-298px, 40px);
}

.hero-text h1 {
  color: var(--text-secondary);
  font-family: var(--font-main) !important;
  font-size: 60px;
  font-weight: 800;
  margin-left: 100px;
}

.hero-text p {
  color: var(--text-secondary);
  font-family: var(--font-main);
  width: 560px;
  line-height: 150%;
  font-size: 24px;
  margin-left: 100px;
}

.hero-image img {
  width: 655px;
  height: auto;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  gap: 50px;

}

.hero-buttons button {
  width: 314px;
  height: 71px;
  background-color: var(--color-main);
  border-radius: 35.5px;
  color: var(--color-white);
  font-family: var(--font-main);
  font-size: 24px;
}