.container {
  padding: 0 70px ;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 30px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: row;
  list-style: none;
}

.navbar-link {
  text-decoration: none;
  color: #A7A7A7;
}