@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* ===== Colors ===== */
  --color-main: #003465;
  --color-secondary: #B7AA8C;
  --color-white: #FFFFFF;

  /* ===== Backgrounds ===== */
  --bg-main: #FCFCF7;
  --bg-secondary: #F1EFE5;

  /* ===== Texts ===== */
  --text--main: #919191;
  --text-secondary: #B7AA8C;
  --text-menu: #A7A7A7;

  /* ===== Typefaces ===== */
  --font-main: "Albert Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

.container {
  background-color: var(--bg-main);
  width: 100vw;
  height: 100vh;
}

.mid-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background:
    radial-gradient(circle at 10% 50%,
      rgba(255, 255, 255, 0.98) 0%,
      rgba(250, 249, 245, 0.96) 35%,
      rgba(242, 240, 234, 0.94) 55%,
      rgba(233, 230, 224, 0.92) 75%,
      rgba(226, 223, 217, 0.90) 100%);
  z-index: 0;
}

.page-content {
  margin: 0 100px;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar-logo {
  display: flex;
}

.navbar-links {
  display: flex;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  margin-right: 200px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
}

.navbar-link {
  color: var(--text-menu);
  text-decoration: none;
}